@import url(index.css);

.navbar-data {
  display: flex;
  width: 100%;
  padding-bottom: 6px;
  top: 0;
  background-color: var(--clr--navbar);
  overflow: visible;
}
.icons-data {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  margin-top: 4px;
  margin-left: 3px;
  position: absolute;
  left: 0;
}
.icon-data {
  width: 20px;
  height: auto;
  transition: transform 0.3s ease-in-out;
  color: var(--clr--icons);
}
.icon-data:hover {
  width: 22px;
  transform: scale(1.1);
  margin-right: -2px;
}
.icon-data:active {
  transform: scale(0.99);
}
.flags-data {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 8px;
}

.flag-data {
  width: 25px;
  transition: transform 0.3s ease-in-out;
}
.flag-data:hover {
  width: 27px;
  transform: scale(1.1);
  box-shadow: 5px 5px 8px var(--clr--border--hover);
  margin-top: -2px;
  margin-left: -2px;
  margin-right: -2px;
}
.flag-data:active {
  transform: scale(0.98);
}

.presentation-container-data {
  width: 80%;
  height: auto;
  margin: 0 0 0 15px;

  background-color: var(--clr--container);
  box-shadow: 5px 5px 8px var(--clr--border);
  padding: 5px 30px 1px;
  max-width: 55em;
  display: flex;
  flex-direction: column;
}
.title-data{
  font-size: 48px;
  letter-spacing: 2.5px;
}
.presentaition-data {
  font-size: 24px;
  text-align: justify;
}